@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e6e6e6;
    --foreground: #1c1c1c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes fadeInUp {
  0%{
    opacity: 0;
    transform: translateY(25px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade{

  animation: fadeInUp 1s ease-in-out forwards;
}